<!DOCTYPE html>
<html>
    <head>
        <title>Hola</title>
        
        <%- include('partials/head.ejs'); -%>
    </head>
    <body>
        <% if (ID > 0) { %>
            <h2><%= ID %></h2>
            <form action="/game" method="POST">
                <input type="hidden" name="id" value="<%= ID %>">
                <input type="submit">
            </form>
        <% } %>

        <%- include('partials/login'); -%>

        
        <p><%= __n('%d apple', '%d apples', 1) %></p>
    </body>
</html>
