<!DOCTYPE html>
<html lang="es">
    <head>
        <title><%= __('NameGame') %> - <%= __('CreateAccount') %></title>

        <%- include('partials/head.ejs'); -%>
    </head>
<body>
    
    <%- include('partials/navigation'); -%>
    
    <div class="container">

        <div class="bg-light card mt-5 p-5 rounded-5 w-50">
            <h1><%= __('CreateAccount') %></h1>

            <% if (codeError != null) { %>
                <div class="alert alert-danger" role="alert">
                    <%= __(codeError) %>
                </div>
            <% } %>

            <form action="/register" method="post">
                <div class="mb-3">
                    <label class="form-label" for="email">
                        <%= __('Email') %> <span class="req">*</span>
                    </label>
                    <input id="email" class="form-control" type="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">
                        <%= __('Password') %> <span class="req">*</span>
                    </label>
                    <input id="password" class="form-control" type="password" name="password" required>
                </div>
    
                <input type="submit" class="button button-block" value="<%= __('CreateAccount') %>">
            </form>
    
            <hr>
    
            <span class="text-center"><%= __('AlreadyAccount') %> <a class="text-decoration-none urlColor" href="/login"><%= __('LogIn') %></a></span>
        </div>
    </div>

</body>
</html>
