<!-- Estilos -->
<link rel="stylesheet" href="css/login-prueba.scss">

<!-- Formularios -->
<div class="contenedor-formularios">
    <!-- Links de los formularios -->
    <ul class="contenedor-tabs">
        <li class="tab tab-segunda active"><a href="#iniciar-sesion">Iniciar Sesión</a></li>
        <li class="tab tab-primera"><a href="#registrarse">Registrarse</a></li>
    </ul>

    <!-- Contenido de los Formularios -->
    <div class="contenido-tab">
        <!-- Iniciar Sesion -->
        <div id="iniciar-sesion">
            <h1><%= __('LogIn') %></h1>
            <form action="/login" method="post">
                <div class="contenedor-input">
                    <label>
                        <%= __('Email') %> <span class="req">*</span>
                    </label>
                    <input id="usLogin" name="email" type="text" required>
                </div>

                <div class="contenedor-input">
                    <label>
                        <%= __('Password') %> <span class="req">*</span>
                    </label>
                    <input id="clave" name="password" type="password" required>
                </div>
                <p class="forgot"><a href="#"><%= __('DidForgetPassword') %></a></p>
                <input type="submit" class="button button-block" value="<%= __('LogIn') %>">
            </form>
        </div>

        <!-- Registrarse -->
        <div id="registrarse">
            <h1><%= __('CreateAccount') %></h1>
            <form action="/registro" method="post">
                <div class="contenedor-input">
                        <label>
                            <%= __('Email') %> <span class="req">*</span>
                        </label>
                    <input type="email" name="email" required>
                </div>
                <div class="contenedor-input">
                    <label>
                        <%= __('Password') %> <span class="req">*</span>
                    </label>
                    <input type="password" name="password" required>
                </div>

                <div class="contenedor-input">
                    <label>
                        <%= __('RepeatPassword') %> <span class="req">*</span>
                    </label>
                    <input type="password" name="clave2" required>
                </div>

                <input type="submit" class="button button-block" value="<%= __('CreateAccount') %>">
            </form>
        </div>
    </div>
</div>